.progress-bar{
  height:20px;
  width:0%;
  border-radius: 10px;
  background-color:cyan;
  transition: 0.3s;
  border:double 4pt white;

  
}

.progress-bar-container1{
  margin-top: 20px;
  width:99vw;
}
.progress-bar-container2{
  width:39vw;
  margin-left:30%;
}